@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

$bodyColor: #d55b3e;
$headingColor:#fcf4d9;
$messageColor:#883c82;

.background {
  background-color: $bodyColor;
  display: flex;
  flex-direction: column;
  margin: 100px;
  .heading {
    color: $headingColor;
    font-family: "Shadows Into Light", cursive;

    align-self:center;
  }
}


@mixin button-bg($bg) {
  background: $bg;
  &:hover {
    background:darken($bg,8%);
    transition: all 0.3s ease;
  }
  &:active {
    background:darken($bg,25%);
  }
}

.btn {
  color:$headingColor;
  text-decoration:none;
  padding:15px 40px;
  margin: 10px;
  border-radius:10px;
  font-family: 'Syne Mono', monospace;
  font-size:1em;
}



.btn-red {
  @include button-bg(#00aaa0);
}

.time{
  display:flex;
  justify-content:center;
  padding: 20px;
}

.buttons{
  display:flex;
  justify-content:center;
}


//cards

.card {
  background: $headingColor;
  align-items: center;
  margin: 20px;
  perspective: 1000px;
}

.cards{
  display: flex;
  flex-direction: column;
  align-self: center;

}
#container1{
  display: flex;
  flex-direction: row;
}
#container2{
  display: flex;
  flex-direction: row;
}

.card img{
  visibility: hidden;
}




#message{
  display: flex;
  justify-content: center;
  margin: 10px;
  color: $messageColor;
}








